@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --color-primary: #A53DFF;
  --color-primary-light: #EDD8FF;
  --primary-white: #FFFFFF;
  --color-content-dark: #132238;
  --color-main-text: #556070;
  --color-neutral-dark: #333333;
  --color-grey: #F0F1F3;
  --color-grey-dark:#E6E8EB;
  --color-grey-dark-two: #87909D;
 

  --shadow-theme-md:
    0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}



.container-wrapper
{
  width:'100%';
  margin:0;
  padding:0;
}

.container{
  max-width: 1024px;
  padding:0 0;
  margin:0 auto
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-primary-white {
  background-color: var(--primary-white);
}

.bg-content-dark {
  background-color: var(--color-content-dark);
}

.bg-main-text {
  background-color: var(--color-main-text);
}

.bg-neutral-dark {
  background-color: var(--color-neutral-dark);
}

.bg-grey {
  background-color: var(--color-grey);
}

.border-grey {
 border-color: var(--color-grey);
}

.border-grey-dark {
 border-color: var(--color-grey-dark);
}

.border-primary {
 border-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-light {
  color: var(--color-primary-light);
}

.text-primary-white {
  color: var(--primary-white);
}

.text-content-dark {
  color: var(--color-content-dark);
}

.text-main-text {
  color: var(--color-main-text);
}

.text-neutral-dark {
  color: var(--color-neutral-dark);
}


.text-grey-dark {
  color: var(--color-grey-dark-two);
}

.text-grey {
  color: var(--color-grey);
}


.font-work {
  font-family: var(--font-work-sans), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}


.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}


.swiper-button-next,
.swiper-button-prev {
  color:var(--color-primary) !important; /* Tailwind blue-500 */
}

/* Optional: change size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem; /* make arrows larger */
}